<a href="https://colab.research.google.com/github/tarekkanon/AdventureWorks/blob/main/README.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# imports
import pandas as pd
import datetime as dt

In [2]:
# options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)

In [3]:
df_sales = pd.read_csv('/content/drive/MyDrive/AnalysisData/fact_sales.csv', encoding='latin-1')
df_customers = pd.read_csv('/content/drive/MyDrive/AnalysisData/dim_customers.csv', encoding='latin-1')
df_sales_territory = pd.read_csv('/content/drive/MyDrive/AnalysisData/dim_sales_terrotry.csv', encoding='latin-1')
df_dates = pd.read_csv('/content/drive/MyDrive/AnalysisData/dim_date.csv', encoding='latin-1')
df_products = pd.read_csv('/content/drive/MyDrive/AnalysisData/dim_products.csv', encoding='latin-1')
df_geography = pd.read_csv('/content/drive/MyDrive/AnalysisData/dim_geography.csv', encoding='latin-1')

In [4]:
df_customers

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,Gender,EmailAddress,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,SpanishEducation,FrenchEducation,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,NaN,Jon,V,Yang,False,23-Dec-62,M,NaN,M,jon24@adventure-works.com,"$90,000.00",2,0,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,22-Jul-05,1-2 Miles
1,11001,37,AW00011001,NaN,Eugene,L,Huang,False,23-Jun-76,S,NaN,M,eugene10@adventure-works.com,"$60,000.00",3,3,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,0,1,2243 W St.,NaN,1 (11) 500 555-0110,18-Jul-05,0-1 Miles
2,11002,31,AW00011002,NaN,Ruben,NaN,Torres,False,19-Aug-66,M,NaN,M,ruben35@adventure-works.com,"$60,000.00",3,3,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,10-Jul-05,2-5 Miles
3,11003,11,AW00011003,NaN,Christy,NaN,Zhu,False,09-Dec-87,S,NaN,F,christy12@adventure-works.com,"$70,000.00",0,0,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,01-Jul-05,5-10 Miles
4,11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,False,06-Jun-90,S,NaN,F,elizabeth5@adventure-works.com,"$80,000.00",5,5,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,26-Jul-05,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,NaN,Tommy,L,Tang,False,13-May-96,M,NaN,M,tommy2@adventure-works.com,"$30,000.00",1,0,Graduate Degree,Estudios de postgrado,Bac + 3,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,08-Mar-07,0-1 Miles
18480,29480,248,AW00029480,NaN,Nina,W,Raji,False,21-Sep-71,S,NaN,F,nina21@adventure-works.com,"$30,000.00",3,0,Graduate Degree,Estudios de postgrado,Bac + 3,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,18-Jan-08,0-1 Miles
18481,29481,120,AW00029481,NaN,Ivan,NaN,Suri,False,16-Nov-93,S,NaN,M,ivan0@adventure-works.com,"$30,000.00",3,0,Graduate Degree,Estudios de postgrado,Bac + 3,Clerical,Administrativo,Employé,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,13-Feb-06,0-1 Miles
18482,29482,179,AW00029482,NaN,Clayton,NaN,Zhang,False,08-Apr-78,M,NaN,M,clayton0@adventure-works.com,"$30,000.00",3,0,Bachelors,Licenciatura,Bac + 4,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,22-Mar-07,0-1 Miles
18483,29483,217,AW00029483,NaN,Jésus,L,Navarro,False,08-May-86,M,NaN,M,jésus9@adventure-works.com,"$30,000.00",0,0,Bachelors,Licenciatura,Bac + 4,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,13-Mar-07,0-1 Miles

In [5]:
# fixing date issue wrong century #BUG with python library

def fix_date(x):

    if x.year > 2024:
        year = x.year - 100
    elif x.year < 1900:
        year = x.year + 100
    else:
        year = x.year

    return dt.date(year,x.month,x.day)

In [6]:
# fix dates first
df_customers["BirthDate"] = pd.to_datetime(df_customers['BirthDate'])
df_customers["BirthDate"] = df_customers["BirthDate"].apply(fix_date)

# add calculated column for age
df_customers['age'] = df_customers["BirthDate"].apply(lambda x : (pd.datetime.now().year - x.year))

<ipython-input-6-3d19f54c3c4e>:6: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df_customers['age'] = df_customers["BirthDate"].apply(lambda x : (pd.datetime.now().year - x.year))

In [7]:
df_customers["BirthDate"]

0        1962-12-23
1        1976-06-23
2        1966-08-19
3        1987-12-09
4        1990-06-06
            ...
18479    1996-05-13
18480    1971-09-21
18481    1993-11-16
18482    1978-04-08
18483    1986-05-08
Name: BirthDate, Length: 18484, dtype: object

In [8]:
# average age of customers
cust_avg_age = df_customers['age'].mean()

# total customers
total_customers = df_customers['CustomerKey'].count()

# total distinct customers (making sure no duplicates)
total_unqiue_customers = len(pd.unique(df_customers['CustomerKey']))

In [9]:
print('Customers average age: ' + str(cust_avg_age))
print('Total count of customers: ' + str(total_customers))
print('Total unique count of customers: ' + str(total_unqiue_customers))

Customers average age: 44.45017312270071
Total count of customers: 18484
Total unique count of customers: 18484

In [10]:
df_sales

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,RevisionNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,344,20050722,20050803,20050729,11000,1,6,9,SO43793,1,1,14,"$3,399.99","$3,399.99",0,0,"$1,912.15","$1,912.15","$3,399.99",$272.00,$85.00,NaN,NaN,22/07/2021,03/08/2021,29/07/2021
1,353,20070722,20070803,20070729,11000,2,6,9,SO51522,1,1,1,"$2,319.99","$2,319.99",0,0,"$1,265.62","$1,265.62","$2,319.99",$185.60,$58.00,NaN,NaN,22/07/2022,03/08/2022,29/07/2022
2,485,20070722,20070803,20070729,11000,1,6,9,SO51522,2,1,1,$21.98,$21.98,0,0,$8.22,$8.22,$21.98,$1.76,$0.55,NaN,NaN,22/07/2022,03/08/2022,29/07/2022
3,573,20071104,20071116,20071111,11000,1,6,9,SO57418,1,1,1,"$2,384.07","$2,384.07",0,0,"$1,481.94","$1,481.94","$2,384.07",$190.73,$59.60,NaN,NaN,04/11/2022,16/11/2022,11/11/2022
4,541,20071104,20071116,20071111,11000,1,6,9,SO57418,2,1,1,$28.99,$28.99,0,0,$10.84,$10.84,$28.99,$2.32,$0.72,NaN,NaN,04/11/2022,16/11/2022,11/11/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,217,20080118,20080130,20080125,29480,1,98,10,SO62341,4,1,16,$34.99,$34.99,0,0,$13.09,$13.09,$34.99,$2.80,$0.87,NaN,NaN,18/01/2022,30/01/2022,25/01/2022
60394,225,20080118,20080130,20080125,29480,1,98,10,SO62341,5,1,3,$8.99,$8.99,0,0,$6.92,$6.92,$8.99,$0.72,$0.22,NaN,NaN,18/01/2022,30/01/2022,25/01/2022
60395,349,20060213,20060225,20060220,29481,1,100,8,SO45427,1,1,13,"$3,374.99","$3,374.99",0,0,"$1,898.09","$1,898.09","$3,374.99",$270.00,$84.37,NaN,NaN,13/02/2021,25/02/2021,20/02/2021
60396,358,20070322,20070403,20070329,29482,1,100,7,SO49746,1,1,6,"$2,049.10","$2,049.10",0,0,"$1,105.81","$1,105.81","$2,049.10",$163.93,$51.23,NaN,NaN,22/03/2022,03/04/2022,29/03/2022
60397,360,20070313,20070325,20070320,29483,1,100,7,SO49665,1,1,7,"$2,049.10","$2,049.10",0,0,"$1,105.81","$1,105.81","$2,049.10",$163.93,$51.23,NaN,NaN,13/03/2022,25/03/2022,20/03/2022

In [11]:
# we need to fix the sales amount since it is string and contain dollar sign
df_sales['SalesAmountFix'] = (df_sales['SalesAmount'].str[1:]).str.replace(',','').astype(float)

In [12]:
# create dataframe for all customers orders count and total amount
df_customers_orders = df_sales.groupby('CustomerKey', as_index=False).agg(**{'CountSalesOrders' : ('SalesOrderNumber' , 'nunique'), 'TotalAmount' : ('SalesAmountFix' , 'sum')}).reset_index()
df_customers_orders

       index  CustomerKey  CountSalesOrders  TotalAmount
0          0        11000                 3      8248.99
1          1        11001                 3      6383.88
2          2        11002                 3      8114.04
3          3        11003                 3      8139.29
4          4        11004                 3      8196.01
...      ...          ...               ...          ...
18479  18479        29479                 1      2049.10
18480  18480        29480                 1      2442.03
18481  18481        29481                 1      3374.99
18482  18482        29482                 1      2049.10
18483  18483        29483                 1      2049.10

[18484 rows x 4 columns]

In [13]:
# to make sure count and sum is correct
df_test_result = df_sales[(df_sales['CustomerKey'] == 11000)]
df_test_result

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,RevisionNumber,OrderQuantity,UnitPrice,ExtendedAmount,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate,SalesAmountFix
0,344,20050722,20050803,20050729,11000,1,6,9,SO43793,1,1,14,"$3,399.99","$3,399.99",0,0,"$1,912.15","$1,912.15","$3,399.99",$272.00,$85.00,NaN,NaN,22/07/2021,03/08/2021,29/07/2021,3399.99
1,353,20070722,20070803,20070729,11000,2,6,9,SO51522,1,1,1,"$2,319.99","$2,319.99",0,0,"$1,265.62","$1,265.62","$2,319.99",$185.60,$58.00,NaN,NaN,22/07/2022,03/08/2022,29/07/2022,2319.99
2,485,20070722,20070803,20070729,11000,1,6,9,SO51522,2,1,1,$21.98,$21.98,0,0,$8.22,$8.22,$21.98,$1.76,$0.55,NaN,NaN,22/07/2022,03/08/2022,29/07/2022,21.98
3,573,20071104,20071116,20071111,11000,1,6,9,SO57418,1,1,1,"$2,384.07","$2,384.07",0,0,"$1,481.94","$1,481.94","$2,384.07",$190.73,$59.60,NaN,NaN,04/11/2022,16/11/2022,11/11/2022,2384.07
4,541,20071104,20071116,20071111,11000,1,6,9,SO57418,2,1,1,$28.99,$28.99,0,0,$10.84,$10.84,$28.99,$2.32,$0.72,NaN,NaN,04/11/2022,16/11/2022,11/11/2022,28.99
5,530,20071104,20071116,20071111,11000,1,6,9,SO57418,3,1,1,$4.99,$4.99,0,0,$1.87,$1.87,$4.99,$0.40,$0.12,NaN,NaN,04/11/2022,16/11/2022,11/11/2022,4.99
6,214,20071104,20071116,20071111,11000,1,6,9,SO57418,4,1,1,$34.99,$34.99,0,0,$13.09,$13.09,$34.99,$2.80,$0.87,NaN,NaN,04/11/2022,16/11/2022,11/11/2022,34.99
7,488,20071104,20071116,20071111,11000,1,6,9,SO57418,5,1,1,$53.99,$53.99,0,0,$41.57,$41.57,$53.99,$4.32,$1.35,NaN,NaN,04/11/2022,16/11/2022,11/11/2022,53.99

In [14]:
# categorizing customers
df_customers_orders['CustomerCategory'] = df_customers_orders.loc[:,'CustomerCategory']= ['VIP' if d1>=2 and d2>=100 else 'Loyal' if d1>=2 else 'Periodic buyers' for d1,d2 in zip(df_customers_orders.CountSalesOrders,df_customers_orders.TotalAmount)]
df_customers_orders.head(100)

    index  CustomerKey  CountSalesOrders  TotalAmount CustomerCategory
0       0        11000                 3      8248.99              VIP
1       1        11001                 3      6383.88              VIP
2       2        11002                 3      8114.04              VIP
3       3        11003                 3      8139.29              VIP
4       4        11004                 3      8196.01              VIP
..    ...          ...               ...          ...              ...
95     95        11095                 3      8158.01              VIP
96     96        11096                 3      8063.04              VIP
97     97        11097                 3      8099.03              VIP
98     98        11098                 3        88.96            Loyal
99     99        11099                 3      8215.99              VIP

[100 rows x 5 columns]

In [15]:
# add flag for having childern or no
df_customers['HaveChildern'] = [True if d1>0 else False for d1 in df_customers.TotalChildren]

In [16]:
# join 2 dataframes together for customers and customer orders and total amounts
df_customers_revenue = pd.concat([df_customers.set_index('CustomerKey'), df_customers_orders.set_index('CustomerKey')], axis=1, join='inner').reset_index()
df_customers_revenue

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,Gender,EmailAddress,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,SpanishEducation,FrenchEducation,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,age,HaveChildern,index,CountSalesOrders,TotalAmount,CustomerCategory
0,11000,26,AW00011000,NaN,Jon,V,Yang,False,1962-12-23,M,NaN,M,jon24@adventure-works.com,"$90,000.00",2,0,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,22-Jul-05,1-2 Miles,62,True,0,3,8248.99,VIP
1,11001,37,AW00011001,NaN,Eugene,L,Huang,False,1976-06-23,S,NaN,M,eugene10@adventure-works.com,"$60,000.00",3,3,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,0,1,2243 W St.,NaN,1 (11) 500 555-0110,18-Jul-05,0-1 Miles,48,True,1,3,6383.88,VIP
2,11002,31,AW00011002,NaN,Ruben,NaN,Torres,False,1966-08-19,M,NaN,M,ruben35@adventure-works.com,"$60,000.00",3,3,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,10-Jul-05,2-5 Miles,58,True,2,3,8114.04,VIP
3,11003,11,AW00011003,NaN,Christy,NaN,Zhu,False,1987-12-09,S,NaN,F,christy12@adventure-works.com,"$70,000.00",0,0,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,01-Jul-05,5-10 Miles,37,False,3,3,8139.29,VIP
4,11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,False,1990-06-06,S,NaN,F,elizabeth5@adventure-works.com,"$80,000.00",5,5,Bachelors,Licenciatura,Bac + 4,Professional,Profesional,Cadre,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,26-Jul-05,1-2 Miles,34,True,4,3,8196.01,VIP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,NaN,Tommy,L,Tang,False,1996-05-13,M,NaN,M,tommy2@adventure-works.com,"$30,000.00",1,0,Graduate Degree,Estudios de postgrado,Bac + 3,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",NaN,1 (11) 500 555-0136,08-Mar-07,0-1 Miles,28,True,18479,1,2049.10,Periodic buyers
18480,29480,248,AW00029480,NaN,Nina,W,Raji,False,1971-09-21,S,NaN,F,nina21@adventure-works.com,"$30,000.00",3,0,Graduate Degree,Estudios de postgrado,Bac + 3,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,NaN,1 (11) 500 555-0146,18-Jan-08,0-1 Miles,53,True,18480,1,2442.03,Periodic buyers
18481,29481,120,AW00029481,NaN,Ivan,NaN,Suri,False,1993-11-16,S,NaN,M,ivan0@adventure-works.com,"$30,000.00",3,0,Graduate Degree,Estudios de postgrado,Bac + 3,Clerical,Administrativo,Employé,0,0,Knaackstr 4,NaN,1 (11) 500 555-0144,13-Feb-06,0-1 Miles,31,True,18481,1,3374.99,Periodic buyers
18482,29482,179,AW00029482,NaN,Clayton,NaN,Zhang,False,1978-04-08,M,NaN,M,clayton0@adventure-works.com,"$30,000.00",3,0,Bachelors,Licenciatura,Bac + 4,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",NaN,1 (11) 500 555-0137,22-Mar-07,0-1 Miles,46,True,18482,1,2049.10,Periodic buyers
18483,29483,217,AW00029483,NaN,Jésus,L,Navarro,False,1986-05-08,M,NaN,M,jésus9@adventure-works.com,"$30,000.00",0,0,Bachelors,Licenciatura,Bac + 4,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",NaN,1 (11) 500 555-0141,13-Mar-07,0-1 Miles,38,False,18483,1,2049.10,Periodic buyers

In [17]:
# get total revenue based on customers having childern or not
df_customers_revenue_child = df_customers_revenue.groupby('HaveChildern', as_index=False).agg(**{'SumTotalAmount' : ('TotalAmount' , 'sum')}).reset_index()
df_customers_revenue_child

   index  HaveChildern  SumTotalAmount
0      0         False      8634027.29
1      1          True     20724650.60

In [18]:
# get total revenue based on customers gender
df_customers_revenue_gender = df_customers_revenue.groupby('Gender', as_index=False).agg(**{'SumTotalAmount' : ('TotalAmount' , 'sum')}).reset_index()
df_customers_revenue_gender

   index Gender  SumTotalAmount
0      0      F     14813619.09
1      1      M     14545058.80

In [19]:
# get top 10 customers who spent more
df_top_customers = df_customers_revenue.sort_values('TotalAmount', ascending=False).head(10)
df_top_customers

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,Suffix,Gender,EmailAddress,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,SpanishEducation,FrenchEducation,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,age,HaveChildern,index,CountSalesOrders,TotalAmount,CustomerCategory
1301,12301,223,AW00012301,NaN,Nichole,NaN,Nara,False,1988-11-03,S,NaN,F,nichole16@adventure-works.com,"$100,000.00",2,3,Bachelors,Licenciatura,Bac + 4,Management,Gestión,Direction,1,4,"21, avenue de la Gare",NaN,1 (11) 500 555-0152,10-Nov-05,10+ Miles,36,True,1301,5,13295.38,VIP
1132,12132,224,AW00012132,NaN,Kaitlyn,J,Henderson,False,1961-07-06,M,NaN,F,kaitlyn72@adventure-works.com,"$110,000.00",3,4,Partial College,Estudios universitarios (en curso),Baccalauréat,Professional,Profesional,Cadre,1,4,"2222, rue Ste-Honoré",NaN,1 (11) 500 555-0154,02-Aug-05,5-10 Miles,63,True,1132,5,13294.27,VIP
1308,12308,184,AW00012308,NaN,Margaret,NaN,He,False,1994-01-16,M,NaN,F,margaret25@adventure-works.com,"$100,000.00",3,4,High School,Educación secundaria,Bac + 2,Professional,Profesional,Cadre,1,2,"12bis, boulevard du Montparnasse",NaN,1 (11) 500 555-0112,04-Dec-05,10+ Miles,30,True,1308,5,13269.27,VIP
1131,12131,186,AW00012131,NaN,Randall,M,Dominguez,False,1988-04-06,M,NaN,M,randall14@adventure-works.com,"$90,000.00",2,1,High School,Educación secundaria,Bac + 2,Professional,Profesional,Cadre,0,2,"244, rue des Rosiers",NaN,1 (11) 500 555-0136,24-Aug-05,2-5 Miles,36,True,1131,5,13265.99,VIP
1300,12300,180,AW00012300,NaN,Adriana,L,Gonzalez,False,1966-07-21,S,NaN,F,adriana19@adventure-works.com,"$80,000.00",5,0,Partial College,Estudios universitarios (en curso),Baccalauréat,Professional,Profesional,Cadre,1,2,"310, rue des Rosiers",NaN,1 (11) 500 555-0129,24-Nov-05,10+ Miles,58,True,1300,5,13242.70,VIP
1321,12321,211,AW00012321,NaN,Rosa,K,Hu,False,1964-10-14,M,NaN,F,rosa20@adventure-works.com,"$70,000.00",5,2,Partial High School,Educación secundaria (en curso),Niveau bac,Skilled Manual,Obrero especializado,Technicien,1,2,"28, place du Tertre",NaN,1 (11) 500 555-0192,03-Dec-05,2-5 Miles,60,True,1321,5,13215.65,VIP
1124,12124,192,AW00012124,NaN,Brandi,D,Gill,False,1971-06-14,S,NaN,F,brandi13@adventure-works.com,"$110,000.00",2,4,Partial College,Estudios universitarios (en curso),Baccalauréat,Professional,Profesional,Cadre,1,3,"8, rue de l´Avenir",NaN,1 (11) 500 555-0115,01-Aug-05,5-10 Miles,53,True,1124,5,13195.64,VIP
1307,12307,226,AW00012307,NaN,Brad,NaN,She,False,1963-01-11,M,NaN,M,brad1@adventure-works.com,"$90,000.00",4,2,High School,Educación secundaria,Bac + 2,Professional,Profesional,Cadre,1,1,"12, rue Henri Gagnon",NaN,1 (11) 500 555-0136,29-Nov-05,2-5 Miles,61,True,1307,5,13173.19,VIP
1296,12296,211,AW00012296,NaN,Francisco,A,Sara,False,1998-08-29,M,NaN,M,francisco11@adventure-works.com,"$70,000.00",5,1,High School,Educación secundaria,Bac + 2,Professional,Profesional,Cadre,0,2,"24, rue Descartes",NaN,1 (11) 500 555-0166,19-Nov-05,2-5 Miles,26,True,1296,5,13164.64,VIP
433,11433,224,AW00011433,NaN,Maurice,M,Shan,False,1996-04-27,M,NaN,M,maurice11@adventure-works.com,"$80,000.00",5,2,High School,Educación secundaria,Bac + 2,Professional,Profesional,Cadre,0,2,"59, rue Montcalm",NaN,1 (11) 500 555-0130,05-Jun-07,2-5 Miles,28,True,433,6,12909.67,VIP